@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");

* {
  font-family: Quicksand;
  box-sizing: border-box;

  --Mörkblå: #4978fa;
  --Ljusblå: #91adce;
  --Grå: #5e5e5e;
  --Svart: #000000;
  --Vit: #ffffff;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
  box-sizing: border-box;
  background-color: var(--Vit);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 10vh;
  align-items: center;
  background-color: var(--Grå);
}

.navbar-links {
  min-height: 2rem;
  background-color: var(--Grå);
}

.navbar-links ul {
  display: flex;
  padding: 0;
  margin-top: 1vh;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: var(--Vit);
  padding: 0.5rem;
  margin: 2vw;
}

.navbar-links li:hover {
  text-decoration: underline;
}
/*Gör så att navbaren blir responsive */
@media screen and (max-width: 802px) {
  .navbar {
    flex-direction: column;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }
}
/*Gör så att bilden är responsive i alla lägen*/
.responsive {
  width: 100%;
  max-width: 1000px;
  height: auto;
}
/*Validerad ovanför 15/9-22*/

.grid-container {
  display: grid;
  margin: 2rem;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.grid-item-1 {
  grid-row: span 2;
}

.grid-item-2 {
  grid-column: span 2;
  text-align: center;
}

.grid-item-3 {
  grid-column: span 2;
  text-align: center;
}

.grid-item-4 {
  grid-row: 3;
  text-align: center;
}

@media screen and (max-width: 802px) {
  .grid-item-1 {
    grid-column: span 3;
    align-items: center;
  }

  .grid-item-2 {
    grid-column: span 3;
  }

  .grid-item-3 {
    grid-column: span 3;
  }
  .grid-item-4 {
    grid-column: span 3;
    text-align: center;
  }
}

#foot {
  text-align: center;
}

/*Validerad ovan 20/9-22*/
